pkgbase = storagesifter-bin
	pkgdesc = Fast, GPU-accelerated disk-usage treemap visualizer for Linux (prebuilt binary)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Fopull-LLC/StorageSifter
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = vulkan-icd-loader
	depends = libxkbcommon
	depends = wayland
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxrandr
	depends = alsa-lib
	provides = storagesifter
	conflicts = storagesifter
	options = !strip
	options = !debug
	source = storagesifter-v0.2.0-x86_64-linux.tar.gz::https://github.com/Fopull-LLC/StorageSifter/releases/download/v0.2.0/storagesifter-v0.2.0-x86_64-linux.tar.gz
	sha256sums = SKIP

pkgname = storagesifter-bin
