pkgbase = storagesifter
	pkgdesc = Fast, GPU-accelerated disk-usage treemap visualizer for Linux
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Fopull-LLC/StorageSifter
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = vulkan-icd-loader
	depends = libxkbcommon
	depends = wayland
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxrandr
	source = storagesifter-0.1.0.tar.gz::https://github.com/Fopull-LLC/StorageSifter/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = fa0c707551f0d782239702d40f780108745bacb6ed9bbefb69d36bc0342bf2db

pkgname = storagesifter
