pkgbase = storagesifter
	pkgdesc = Fast, GPU-accelerated disk-usage treemap visualizer for Linux
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/Fopull-LLC/StorageSifter
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = vulkan-icd-loader
	depends = libxkbcommon
	depends = wayland
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxrandr
	depends = alsa-lib
	source = storagesifter-0.3.0.tar.gz::https://github.com/Fopull-LLC/StorageSifter/archive/refs/tags/v0.3.0.tar.gz
	sha256sums = SKIP

pkgname = storagesifter
